doctype html 

html(lang='en') 
	head 
		link(rel='stylesheet', href='style.min.css')
		meta(charset='utf-8')
		title clock
	body 
		.clock
			.clock-face
				.hand.hour-hand
				.hand.min-hand
				.hand.second-hand
      	
		script(type='text/javascript')
			include script.js