doctype html 

html(lang='en') 
	head 
		link(rel='stylesheet', href='style.min.css')
		meta(charset='utf-8')
		title dev-tools-tricks
	body 
		p(onClick="makeGreen()") Hello world!
		
		script(type='text/javascript')
			include script.js