doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='style.min.css')
		meta(charset='utf-8')
		title drum-kit
	body 
		h1 Javascript 30 - Challenge
		
		a(href='/drum-kit/') drum-kit
		br
		a(href='/clock/') clock
		br
		a(href='/css-variables/') css-variables
		br
		a(href='/array-cardio/') array-cardio