doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='style.min.css')
		meta(charset='utf-8')
		title drum-kit
	body 
		h1 Javascript 30 - Challenge
		
		ol
			li #[a(href='/drum-kit/') drum-kit]
			li #[a(href='/clock/') clock]
			li #[a(href='/css-variables/') css-variables]
			li #[a(href='/array-cardio/') array-cardio]
			li #[a(href='/flex-panels/') flex-panels]