doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='style.css')
		meta(charset='utf-8')
		title drum-kit
	body 
		h1 Javascript 30 - Challenge
		
		a(href='/drum-kit/drum-kit') drum-kit
		br
		a(href='/clock/clock') clock
		br
		a(href='/css-variables/css-variables') css-variables