doctype html 

html(lang='en') 
	head 
		link(rel='stylesheet', href='style.min.css')
		meta(charset='utf-8')
		title flex-panels
	body 
		.panels
			.panel.panel1
				p Hey
				p Let's
				p Dance
			.panel.panel2
				p Give
				p Take
				p Receive
			.panel.panel3
				p Experience
				p It
				p Today
			.panel.panel4
				p Give
				p All
				p You can
			.panel.panel5
				p Life
				p In
				p Motion
		
		script(type='text/javascript')
			include script.js